.frame {
    background-color: peachpuff;
    height: 400px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.display {
    height: 60px;
    width: 100px;
    background-color: cadetblue;
    margin: 20px;
    padding: 60px;
    font-size: xx-large;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    overflow: hidden;
}

.function-box {
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.calculator-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-box {
    margin-top: 10px;
    height: 120px;
    width: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.calc-num {
    flex: 1 1 10%;
}

button {
    background-color: darkseagreen;
    color: white;
    border-radius: 20px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}