.frame {
    background-color: peachpuff;
    height: 500px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.display {
    background-color: cadetblue;
    margin: 20px;
    padding: 30px 100px;
}

.function-box {
    background-color: cadetblue;
    margin: 20px;
    display: flex;
    flex-direction: column;
}

.calculator-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.number-box {
    height: 120px;
    width: 90px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.equals-box {
    display: flex;
}

.calc-num {
    flex: 1 1 10%;
}

.right-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    background-color: darkseagreen;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}